### Introduction

While on Kaggle, I stumbled upon a dataset about Olympic athletes (https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). I decided to make some interactive dashboards using Tableau, but before I could use this data I needed to do a simple merge because the data was provided in two different CSV files.

### Setup

To start, I simply import `pandas` and bring in the CSV files from Kaggle into this Jupyter Notebook:

In [1]:
#import pandas
import pandas as pd

In [2]:
#bring in csv files
athlete = pd.read_csv("athlete_events.csv")
regions = pd.read_csv("noc_regions.csv")

### Examining the Data

Next, I need to take a look at the data first to see how we can merge them:

In [3]:
#show first five rows of athlete dataframe
athlete.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
#show first five rows of regions dataframe
regions.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

### Merging the Data

The `athlete` dataframe consists of rows of each individual Olympic athlete and their demographics and competition statistics, while the `regions` dataframe consists of different countries and their respective NOC (National Olympic Committee) 3-letter codes. Speaking of NOC, I notice that both dataframes have a column called `NOC`, so it looks like I can merge both of these dataframes using that column.

When using the `merge` method, I want to make sure all rows in the `athlete` dataframe are included, so I include `how = 'left'` to make sure a left join is made. This will bring in all the rows from the `athlete` dataframe, even if a match can't be found in the `regions` dataframe.

In [5]:
#merge athlete and regions dataframes based on NOC column
NOC = pd.merge(athlete, regions, how = 'left')

Let's take a look at this new dataframe:

In [6]:
#show head of NOC dataframe
NOC.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN

Looks good, but there are few minor things I want to change:

1. The **notes** column is not very necessary.
2. The NaNs in the **Medal** column mean that the athlete competed in their event but did not receive a medal. Instead of NaN, these should say DNP (did not place).

In [7]:
#remove "notes" column
del NOC['notes']

#replace "NaN" values in Medal column with "DNP"
NOC['Medal'].fillna('DNP', inplace=True)

#show head of "NOC" dataframe
NOC.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,DNP,China
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,DNP,China
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,DNP,Denmark
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,DNP,Netherlands

### Last Steps

The dataframe looks good, but I want to check one more thing: the shape of the original and new dataframes.

In [8]:
#check shape of athletes dataframe
athlete.shape

(271116, 15)

In [9]:
#check shape of NOC dataframe
NOC.shape

(271116, 16)

Good, the number of rows are the same in both the original and new dataframes, which means no athletes were left out. The number of columns are different because I added two columns from the original dataframe to the new one, but dropped one column.

`NOC` is ready to be exported.

In [10]:
#export NOC to CSV
NOC.to_csv('athlete_events_NOC.csv')